* {
  background-color: rgb(25, 26, 29);
  
}
body {
  min-width: 400px;
  color: #04c4ff;
  margin: 0;
  padding: 10px;
}  
h1 {
  font-family: Sacramento; "Century Gothic";
  font-size: 40px;
  font-weight: 100;
  margin: 0;
  padding: 0 0 10px 0;
}
h3 {
  font-family: "Century Gothic", "Gill Sans", Calibri, sans-serif;
  margin: 20px 0px 0px 0px;
  padding: 0 0 10px 0;
}
p{
  font-family: "Century Gothic", "Gill Sans", Calibri, sans-serif;
}

input {
  width: 70%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #032c61;
  margin-bottom: 4px;
}

input[type="text"],
textarea {
  background: #94e6ff;
}

button {
  font-family: "Century Gothic", "Gill Sans", Calibri, sans-serif;
  font-size: 15px;
  margin: none;
  padding: 8px 15px;
  font-weight: bold;
  border-radius: 1px;
  box-shadow: 1px 2px 5px rgba(121, 193, 241, 0.3);
}
 input[type="submit"]{
  font-family: "Century Gothic", "Gill Sans", Calibri, sans-serif;
  font-size: 15px;
  margin: none;
  padding: 8px 15px;
  font-weight: bold;
  border-radius: 1px;
  box-shadow: 1px 2px 5px rgba(121, 193, 241, 0.3);
  width: 100px;
 }

#tab-btn {
  margin: none;
  background: #032c61;
  color: #0eaedf;
  border: 1px solid #0eaedf;
}

#delete-btn{
  margin: none;
  background: #0eaedf;
  color: #032c61;
  border: 1px solid #0eaedf;
}
ul {
  list-style: none;
  padding: 0;
  width: 760px;
  margin-bottom: 20px;
  overflow: hidden;
  
}

li a {
  color: #04c4ff;
  font-family: "Century Gothic", "Gill Sans", Calibri, sans-serif;
}

li {
  line-height: 1.5em;
  float: left;
  display: inline;
  font-family: "Century Gothic", "Gill Sans", Calibri, sans-serif;
}
#ul-el li {
  width: 100%;
}