* {
background-color: #94d5e9;

}
body {
  min-width: 700px;
  color: #032147;
  margin: 0;
  padding: 10px;
}

h1 {
  font-family: Sacramento; "Century Gothic", "Gill Sans", Calibri, sans-serif;
  font-size: 50px;
  font-weight: 100;
  margin: 0;
  padding: 0 0 10px 0;
}

input {
  width: 70%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #032c61;
  margin-bottom: 4px;
}

input[type="text"],
textarea {
  background: #d6f1fa;
}

input[type="submit"]{
  font-family: "Century Gothic", "Gill Sans", Calibri, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 9px 15px;
  font-weight: bold;
  border-radius: 1px;
  box-shadow: 1px 2px 5px rgba(121, 193, 241, 0.3);
  width: 100px;
  border-radius: 5px;
}
button {
  font-family: "Century Gothic", "Gill Sans", Calibri, sans-serif;
  font-size: 15px;
  margin: none;
  padding: 9px 15px;
  font-weight: bold;
  border-radius: 1px;
  box-shadow: 1px 2px 5px rgba(121, 193, 241, 0.3);
}

#bankTab-btn {
  margin: none;
  background: #032c61;
  color: #46ccf5;
  border: 1px solid #032c61;
  border-radius: 5px;
}

#clear-btn{
  margin: none;
  background: #0eaedf;
  color: #032c61;
  border: 1px solid #032c61;
  border-radius: 5px;
}
ul {
  font-family: "Century Gothic", "Gill Sans", Calibri, sans-serif;
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  overflow: wrap;
  color: #021125;
}


